<a href="https://colab.research.google.com/github/simsekergun/DATA601/blob/main/Exercises/DATA601_Python_Exercises1_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Exercises-1**

**Hello There!**

Congratulations on deciding to be a part of Data revolution. This marks your first step towards your journey of becoming a Data Scientist.

To become a full fledged Data Scientist, you must equip yourself with important skillset that will help you manipulate the data, retrieve insights and make machine learning models that will make as accurate predictions as possible.

One of the most crucial skills in this domain is in-depth knowledge of programming and Python is one of the hottest tools out there.

So let's embark on the journey of becoming a Python Hotshot!!!

## **PART-1**

Why don't we warm up a little first?

**Question-1:**

Write a Python program to get the Python version you are using. (1)

**Code:**

In [ ]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.7.12 (default, Jan 15 2022, 18:48:18)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)

**Question-2:**

Write a Python program to display the current date and time. (1)

**Code:**

In [ ]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2022-02-12 17:43:34

**Question-3:**

Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers. (1)

**Code:**

In [ ]:
values = input("Input some comma seprated numbers : ")
list1 = values.split(",")
tuple1 = tuple(list1)
print('List : ',list1)
print('Tuple : ',tuple1)

Input some comma seprated numbers : 3,3,5,7,0
List :  ['3', '3', '5', '7', '0']
Tuple :  ('3', '3', '5', '7', '0')

**Question-4:**

Write a Python program to display the first and last colors from the following list:

["Red","Green","White" ,"Black"] 

(1)

**Code**

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

**Question-5:**

Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. (1)

**Code**

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

**Question-6:**

Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s). (1)

Sample function: abs()

**Code**

In [ ]:
print(abs.__doc__)

Return the absolute value of the argument.

**Question-7:**

Write a Python program to test whether a passed letter is a vowel or not.(1)

**Code**

In [ ]:
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels
print(is_vowel('c'))
print(is_vowel('e'))

False
True

**Question-8:**

Write a Python program to solve $(x + y) * (x + y)$. (1)

**Code**

In [ ]:
x, y = 4, 3
result = x * x + 2 * x * y + y * y
print("({} + {}) ^ 2) = {}".format(x, y, result))

(4 + 3) ^ 2) = 49

**Question-9:**

Write a Python program to list all files in a directory in Python. (1)

**Code**

In [ ]:
from os import listdir
from os.path import isfile, join
files_list = [f for f in listdir('sample_data') if isfile(join('sample_data', f))]
print(files_list);

['README.md', 'anscombe.json', 'california_housing_test.csv', 'california_housing_train.csv', 'mnist_train_small.csv', 'mnist_test.csv']

**Question-10:**

Write a Python program to find the sum of the first n positive integers. (1)

**Code**

In [ ]:
n = int(input("Input a number: "))
sum_num = (n * (n + 1)) / 2
print("Sum of the first", n ,"positive integers:", sum_num)

Input a number: 8
Sum of the first 8 positive integers: 36.0

##**PART-2**

Time to work on variables, strings and arithmetic operators.

**Question-11:**

Swap the values of a and b using a temperory variable: (2)

a = 2

b = 4

**Code**

In [ ]:
a = 2
b = 4
c = a
a = b
b = c
print('values of a and b after swapping are:\n',a,'\n',b)

values of a and b after swapping are:
 4
 2

**Question-12:**

Swap the values of a and b without using a temporary variable: (2)

a = 2

b = 4

**Code**

In [ ]:
a = 2
b = 4
a,b = b,a
print('values of a and b after swapping are:\n',a,'\n',b)

values of a and b after swapping are:
 4
 2

**Question-13:**

What is the area of a square with a side length of 7? What is the volume of a cube with the same edge length? (3)

**Code**

In [ ]:
side = 7
area = 7*7
volume = 7*7*7

print('area of the square with a side length of 7:\n', area)
print('\nvolume of cube with an edge length of 7:\n', volume)

area of the square with a side length of 7:
 49

volume of cube with an edge length of 7:
 343

**Question-14:**

Define the variables below. Print the types of each variable. What is the sum of your variables? What datatype is the sum?

num=23

textnum="57"

decimal=98.3

**Code**

In [ ]:
num = 23
textnum = "57"
decimal = 98.3

print(type(num))
print(type(textnum))
print(type(decimal))

MySum = num+int(textnum)+decimal

print(MySum)
print(type(MySum))

<class 'int'>
<class 'str'>
<class 'float'>
178.3
<class 'float'>

**Question-15:**

Check the data type of the following variables:

a = 4

b = 'see'

c = 80.5

d = True

**Code**

In [ ]:
a = 4
b = 'see'
c = 80.5
d = True

print('data type of a:\n',type(a))
print('\ndata type of b:\n',type(b))
print('\ndata type of c:\n',type(c))
print('\ndata type of d:\n',type(d))

data type of a:
 <class 'int'>

data type of b:
 <class 'str'>

data type of c:
 <class 'float'>

data type of d:
 <class 'bool'>

**Question-16:**

Write a program to create a new string made of following string’s first, middle, and last character. (4)

'James'

In [ ]:
str1 = 'James'
print("Original String is", str1)

# Get first character
res = str1[0]

# Get string size
l = len(str1)
# Get middle index number
mi = int(l / 2)
# Get middle character and add it to result
res = res + str1[mi]

# Get last character and add it to result
res = res + str1[l - 1]

print("New String:", res)

Original String is James
New String: Jms

**Question-17:**

Reverse a given string: (4)

'Awesome'

**Code**

In [ ]:
str1 = "Awesome"
print("Original String is:", str1)

str1 = str1[::-1]
print("Reversed String is:", str1)

Original String is: Awesome
Reversed String is: emosewA

**Question-18:**

Write a program to find the last position of a substring “Kaylie” in a given string. (4)

'Kaylie is a data scientist who knows Python. Kaylie works at google.'

**Code**

In [ ]:
str1 = "Kaylie is a data scientist who knows Python. Kaylie works at google."
print("Original String is:", str1)

index = str1.rfind("Kaylie")
print("Last occurrence of Kaylie starts at index:", index)

Original String is: Kaylie is a data scientist who knows Python. Kaylie works at google.
Last occurrence of Kaylie starts at index: 45

**Question-19:**

Write a program to split a given string on hyphens and display each substring. (4)

'Cassie-is-a-data-scientist'

**Code**

In [ ]:
str1 = "Cassie-is-a-data-scientist"
print("Original String is:", str1)

# split string
sub_strings = str1.split("-")

print("Displaying each substring")
for sub in sub_strings:
    print(sub)

Original String is: Cassie-is-a-data-scientist
Displaying each substring
Cassie
is
a
data
scientist

**Question-20:**

Replace each special symbol with # in the following string: (4)

'/*Dane is @developer & musician!!'

**Code**

In [ ]:
import string

str1 = '/*Dane is @developer & musician!!'
print("The original string is : ", str1)

# Replace punctuations with #
replace_char = '#'

# string.punctuation to get the list of all special symbols
for char in string.punctuation:
    str1 = str1.replace(char, replace_char)

print("The strings after replacement : ", str1)

The original string is :  /*Dane is @developer & musician!!
The strings after replacement :  ##Dane is #developer # musician##

**Question-21:**

remove 5th character from the following string with atleast two methods:(5)

'BeautifulMistakes'

Note: indexing in python starts from 0

**Code**

In [ ]:
# Method-1
# Initializing String 
test_str = "BeautifulMistakes"
  
# Printing original string 
print ("The original string is : " + test_str)
  
# Removing char at pos 5
# using replace
new_str = test_str.replace('t', '', 1)
  
# Printing string after removal  
print ("The string after removal of 5th character : " + new_str)

The original string is : BeautifulMistakes
The string after removal of 5th character : BeauifulMistakes

In [ ]:
# Method-2
# Initializing String 
test_str = "BeautifulMistakes"
  
# Printing original string 
print ("The original string is : " + test_str)
  
# Removing char at pos 5
# using slice + concatenation
new_str = test_str[:4] +  test_str[5:]
  
# Printing string after removal  
# removes ele. at 5th index
print ("The string after removal of i'th character : " + new_str)

The original string is : BeautifulMistakes
The string after removal of i'th character : BeauifulMistakes

**Question-22:**

Calculate the following expression:

$(44*(2400-30^2))/60.0$

**Code**

In [ ]:
result = (44*(2400-(30**2)))/60.0
print('result of the calculation is:\n', result)

result of the calculation is:
 1100.0

**Question-23:**

Evaluate the remainder and quotient when 70 is divided by 6.

**Code**

In [ ]:
remainder = 70%6
quotient = 70//6

print('remainder is:\n',remainder)
print('\nquotient is:\n',quotient)

remainder is:
 4

quotient is:
 11

##**Part-3**

Let's get try our hands on lists, tuples, sets and dictionaries.

**Question-24:**

find the sum and multiplication of all the items in the following list:

[1,5,6,97,102,37,-89,90,109,221,-300]

**Code**

In [ ]:
sample_list = [1,5,6,97,102,37,-89,90,109,221,-300]
sum = 0
multiplication = 1
for item in sample_list:
  sum = sum + item
  multiplication = multiplication*item

print('sum of all the items in the list is:\n',sum)
print('multiplication of all the items in the list is:\n',multiplication)

sum of all the items in the list is:
 279
multiplication of all the items in the list is:
 635722272588780000

**Question-25:**

find the largest and the smallest number in the following list:

[1,67,-378,38,198,23,-133,488,-238,234]

**Code**

In [ ]:
sample_list = [1,67,-378,38,198,23,-133,488,-238,234]
max = sample_list[0]
min = sample_list[0]
for item in sample_list:
  if item > max:
    max = item
  if item < min:
    min = item

print('largest number in the list:\n',max)
print('\nsmallest number in the list:\n',min)

largest number in the list:
 488

smallest number in the list:
 -378

**Question-26:**

Write a Python program to check a list is empty or not. (1)

**Code**

In [ ]:
l = []
if not l:
  print("List is empty")

List is empty

**Question-27:**

Write a Python program to clone or copy a list. (1)

**Code**

In [ ]:
original_list = [10, 22, 44, 23, 4]
new_list = original_list.copy()
print(original_list)
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

**Question-28:**

Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. (1)

sample list:
['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

**Code**

In [ ]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

**Question-29:**

Write a Python program to convert a list of characters into a string.(1)

sample list: ['a', 'b', 'c', 'd']

**Code**

In [ ]:
s = ['a', 'b', 'c', 'd']
str1 = ''.join(s)
print(str1)

abcd

**Question-30:**

Write a Python program to find the index of an item in a specified list.(1)

sample list: [10, 30, 4, -6]

**Code**

In [ ]:
num =[10, 30, 4, -6]
print(num.index(30))

1

**Question-31:**

Write a Python program to append a list to the second list.(1)

sample lists:

[1, 2, 3, 0]

['Red', 'Green', 'Black']

**Code**

In [ ]:
list1 = [1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']
final_list = list1 + list2
print(final_list)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

**Question-32:**

Write a Python program to select an item randomly from a list. (1)

hint: random.choice()

sample list: ['Red', 'Blue', 'Green', 'White', 'Black']

**Code**

In [ ]:
import random
color_list = ['Red', 'Blue', 'Green', 'White', 'Black']
print(random.choice(color_list))

Black

**Question-33:**

reverse the following tuple: (4)

(10, 20, 30, 40, 50)

**Code**

In [ ]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

**Question-34:**

Unpack the following tuple into 4 variables.(4)

(10, 20, 30, 40)

**Code**

In [ ]:
tuple1 = (10, 20, 30, 40)

# unpack tuple into 4 variables
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

**Question-35:**

Counts the number of occurrences of item 50 from a tuple.(4)

(50, 10, 60, 70, 50)

**Code**

In [ ]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

**Question-36:**

find the size of the following tuples: (5)

("A", 1, "B", 2, "C", 3)

("Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu")

((1, "Lion"), ( 2, "Tiger"), (3, "Fox"), (4, "Wolf"))

**Code**

In [ ]:
import sys
  
# sample Tuples
Tuple1 = ("A", 1, "B", 2, "C", 3)
Tuple2 = ("Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu")
Tuple3 = ((1, "Lion"), ( 2, "Tiger"), (3, "Fox"), (4, "Wolf"))
  
# print the sizes of sample Tuples
print("Size of Tuple1: " + str(sys.getsizeof(Tuple1)) + "bytes")
print("Size of Tuple2: " + str(sys.getsizeof(Tuple2)) + "bytes")
print("Size of Tuple3: " + str(sys.getsizeof(Tuple3)) + "bytes")

Size of Tuple1: 104bytes
Size of Tuple2: 104bytes
Size of Tuple3: 88bytes

**Question-37:**

find the maximum 2 and the minimum 2 elements in the following tuple: (5)

(5, 20, 3, 7, 6, 8)

**Code**

In [ ]:
test_tup = (5, 20, 3, 7, 6, 8)
 
# printing original tuple
print("The original tuple is : " + str(test_tup))
 
# initializing K
K = 2
 
# Maximum and Minimum K elements in Tuple
# Using slicing + sorted()
test_tup = list(test_tup)
temp = sorted(test_tup)
res = tuple(temp[:K] + temp[-K:])
 
# printing result
print("The extracted values : " + str(res))

The original tuple is : (5, 20, 3, 7, 6, 8)
The extracted values : (3, 5, 8, 20)

**Question-38:**

create a list of tuples from given list having number and its cube in each tuple. (5)

sample list: [1, 2, 5, 6]

**Code**

In [ ]:
# creating a list
list1 = [1, 2, 5, 6]
  
# using list comprehension to iterate each
# values in list and create a tuple as specified
res = [(val, pow(val, 3)) for val in list1]
  
# print the result
print(res)

[(1, 1), (2, 8), (5, 125), (6, 216)]

**Question-39:**

Test if tuple is distinct: (5)

sample tuple: (1, 4, 5, 6)

**Code**

In [ ]:
# initialize tuple 
test_tup = (1, 4, 5, 6)
  
# printing original tuple 
print("The original tuple is : " + str(test_tup))
  
# Test if tuple is distinct
# Using set() + len()
res = len(set(test_tup)) == len(test_tup)
  
# printing result
print("Is tuple distinct ? : " + str(res))

The original tuple is : (1, 4, 5, 6)
Is tuple distinct ? : True

**Question-40:**

Given a Python list, Write a program to add all its elements into a given set. (4)

sample_set = {"Yellow", "Orange", "Black"}

sample_list = ["Blue", "Green", "Red"]

**Code**

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Yellow', 'Red', 'Black', 'Blue', 'Green', 'Orange'}

**Question-41:**

Return a new set of identical items from two sets. (4)

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

**Code**

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

**Question-42:**

Write a Python program to return a new set with unique items from both sets by removing duplicates.(4)

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

**Code**

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

**Question-43:**

Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set. (4)

set1 = {10, 20, 30}

set2 = {20, 40, 50}

**Code**

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

**Question-44:**

Return a set of elements present in Set A or B, but not both. (4)

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

**Code**

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

**Question-45:**

Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value. (4)

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

**Code**

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

res_dict = dict(zip(keys, values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Question-46:**

Merge two Python dictionaries into one. (4)

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Code**

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Question-47:**

Delete a list of keys from a dictionary. (4)

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

Keys to remove
keys = ["name", "salary"]

**Code**

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
# Keys to remove
keys = ["name", "salary"]

for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

**Question-48:**

Write a program to rename a key 'city' to a 'location' in the following dictionary. (4)

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

**Code**

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

**Question-49:**

sort the following dictionary by key: (5)

dict = {'ravi':'10','rajnish':'9','sanjeev':'15','yash':'2','suraj':'32'}

**Code**

In [ ]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
 
dict = {'ravi':'10','rajnish':'9','sanjeev':'15','yash':'2','suraj':'32'}
dict1 = OrderedDict(sorted(dict.items()))
print(dict1)

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

**Question-50:**

Given a dictionary with nested dictionaries as values, extract all the values with of particular key. (5)

sample_dict = {'Gfg' : {"a" : 7, "b" : 9, "c" : 12},
             'is' : {"a" : 15, "b" : 19, "c" : 20}, 
             'best' :{"a" : 5, "b" : 10, "c" : 2}}

key = 'c'

**Code**

In [ ]:
# initializing dictionary
test_dict = {'Gfg' : {"a" : 7, "b" : 9, "c" : 12},
             'is' : {"a" : 15, "b" : 19, "c" : 20}, 
             'best' :{"a" : 5, "b" : 10, "c" : 2}}
  
# printing original dictionary
print("The original dictionary is : " + str(test_dict))
  
# initializing key
temp = "c"
  
# using item() to extract key value pair as whole
res = [val[temp] for key, val in test_dict.items() if temp in val]
  
# printing result 
print("The extracted values : " + str(res))

The original dictionary is : {'Gfg': {'a': 7, 'b': 9, 'c': 12}, 'is': {'a': 15, 'b': 19, 'c': 20}, 'best': {'a': 5, 'b': 10, 'c': 2}}
The extracted values : [12, 20, 2]

## **Sources:**
1. https://www.w3resource.com/python-exercises/python-basic-exercises.php
2. https://pdfcoffee.com/python-3-400-exercises-and-solutions-for-beginners-by-assad-patel-pdf-pdf-free.html
3. https://unc-libraries-data.github.io/Python/Intro/Exercises_Solutions.html#entering_code
4. https://pynative.com/python-string-exercise/
5. https://www.geeksforgeeks.org/python-string-exercise/